@mixin hiperlink{
    text-decoration: none;
    color: black;
    text-transform: none;
}
.title{

    text-align: center;
    font-weight: 500;
    font-size: 2rem;
    color: black;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(175, 188, 199),

}

body {
    background: url(../media/fondo-piedra.jpg);
    background-repeat: repeat;
	background-color: white;
    justify-content: center;
	align-items: center;
	min-height: 100vh;
    width: 100%;
    a{
        @include hiperlink();
    }
    img{
        height: 100%;
        align-content: center;
    }
}
marquee{
    display: inline-block;
    overflow: hidden;
    text-align: initial;
    white-space: nowrap;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 20px;
    bottom: 0;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.13);
}

#bloque_header{
    padding-top: 5px;
    height: 60px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 9;
	background-color: $fondoTransparente;
	text-align: center;
	font-family: 'EB Garamond', serif;
    font-weight: 500;
 
    a{
        @include hiperlink();
        font-size: 1.2rem;

    }
    img{
        height: 50px;
        padding-top: 100px;
        max-width: 75%;
        padding: 0;
    }
}

.bloque_header__logo{
    width: 300px;
    padding-left: 0px;

}
.bloque_header__nav-toggle{
    display: none;
}
.bloque_header__nav-toggle-label{
    position:absolute;
    top:0;
    left: 0;
    margin-left:1em;
    height:100%;
    display:flex;
    align-items: center;
    span,
    span::before,
    span::after{
        display:block;
        background: $fontColor;
        height: 2px;
        width: 1.5em;
        border-radius: 2px;
        position:relative;
    }
    span::before,
    span::after{
        content:'';
        position:absolute;
    }
    span::before{
        bottom: 7px;
    }
    span::after{
        top:7px;
    }
    
    

}

.bloque_header__nav-toggle:checked ~ .bloque_header__botonera{
    transform:scale(1,1);
    a{
        opacity: 1;
        transition: opacity 400ms ease-in-out 750ms;
    }

}

.bloque_header__botonera{
    position:absolute;
    text-align: left;
    left:0;
    top:100%;
    align-content: center;
    width: 100%;
    background-color: $fondoTransparente;
    transform:scale(1, 0);
    transform-origin:top;
    transition: transform 750ms ease-in-out;
    a{
        opacity:0;
        transition: opacity 200ms ease-in-out;
    }
    ul{
        margin:0%;
        padding:0%;
        list-style-type: none;
        li{
            margin-bottom: 1em;
            margin-left: 1em;
            color: rgb(201, 199, 199);
        }
    }
}
.bloque_header__login{
    display: block;
    float: center;
    font-family: 'EB Garamond', serif;
    margin-right: 30px;
    margin-left: 1em;
}

#bloque_scroll{
    background-image: url(../media/animation-frame-scroll-2.png);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    text-align: center;
    justify-content: center;
    position: relative;
    height: 100vh;

    img{
        size: 100vh;
        display: inline-block;
        width: auto;
        height: auto;
        z-index: 0;
        min-width: 100%;
        min-height: 100%;
    }
    p{
        padding: 1rem;
        position: relative; 
        color: white;
        font-size: 3rem;
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        top: -8rem;

       
    }
}

#bloque_contenedor{
	font-family: 'EB Garamond', serif;
    color: $fontColor;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    position: relative;
    a{
        @include hiperlink();
    }
    p{
        margin-left: 1rem;
        margin-right: 1rem;
        align-content: center;
        justify-content: center;
        position:static;
        float: none;
        font-weight: 200;
        font-size: 2rem;
        color: rgb(255, 254, 254);
        padding: 3rem;
        border-radius: 1px;
        background-color: transparent;
        padding: 1rem;
        margin: 0;
    }
    h1{
        font-weight: 200;
        font-size: 2rem;
        color: black;
        background-color: $fondoTransparente;
        padding: 2rem;
        border-radius: 3px;
    }
    h2{
        font-size: 2rem;
        text-align: center;
        margin-top: 30px;
        padding-top: 40px;
        font-weight: 700;
    }
    h3{
        text-align: center;
        font-size: 1rem;
        font-weight: 300;
        margin-top: 30px;
    }
    .title{
        padding-bottom: 10px;
    }
    .bloque_contenedor-detail{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
 }

 #contenedor-detalle{
    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 50px;
    h1{
        font-weight: 200;
        font-size: 2rem;
        color: black;
        background-color: $fondoTransparente;
        padding: 2rem;
        border-radius: 3px;
    }
    p{
        font-weight: 200;
        font-size: 2rem;
        color: black;
        background-color: $fondoTransparente;
        padding: 2rem;
        border-radius: 3px;
        margin: 5px;
    }
    img{
        padding: 10px;
        width: 100%;
    }
    a{
        @include hiperlink();
    }
}
 .bloque_contenedor__productos{
    margin: 0PX;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 800px;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.63);
    p{
        font-weight: 200;
        font-size: 2rem;
        color: rgb(255, 255, 255);
        size: 30rem;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;

    }
    .boxProducto{
        width: 50%;
        float: right;
        padding: 5px;   
    }
    img{
        z-index: 5;
        margin: 0px;   
        width: 80%;  
        size: 35rem;   
        padding-bottom: 2rem;
    }
}
#bloque_informacion{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    img{
        z-index: 5;
        margin: 0px;   
        width: 50%;     
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

}
.proximamente{
    padding-top: 3rem;
    padding-bottom: 10rem;
    margin: 0;
    width: 100%;

}
#bloque_footer{
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $fondoTransparente;
    bottom: 0;
    position: relative;
}
.bloque_footer__contacto{
    width: 100%;
	margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
	color: $fontColor;
	align-content: bottom;
	margin-bottom: 15px;
    align-content: center;
    text-align: center;
    a{
        @include hiperlink()
    }
    img{
        align-self: center;
        justify-self: center;
    }
    p{
        padding: 10px;
        text-align: center;
        font-weight: 500;
        font-size: 1.5rem;
        color: black;
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(175, 188, 199),
    }
    form input{
        width: 300px;
        display: block;
        margin: 10px;
        padding: 8px;
        border: 1px solid $fontColor;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        input[type=submit], 
        input[type=reset]{
            background-color: $fontColor;
            border: none;
            color: white;
            padding: 15px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
        }
    }
    
}
.bloque_footer__mapa{
    width: 100%;
    margin-left: 10px;
	margin-top: 50px;
    padding: 10px;
	top: 0px;
    align-content: center;
}

@media screen and (min-width: 650px) {
    #bloque_footer{
        flex-wrap: nowrap;
    }
    .bloque_header__nav-toggle-label{

        span,
        span::before,
        span::after{
            display:block;

            height: 2px;
            width: 3em;
            border-radius: 2px;

        }
    }
}

@media screen and (min-width: 1020px) {
    .bloque_header__nav-toggle-label{
        display: none;
    }
    #bloque_header{
        display:grid;
        grid-template-columns: 1fr auto minmax(600px,3fr) 1fr ;
        img{
            align-self: left;
            height: 100%;
        }
    }
    .bloque_header__logo{
        align-self: left;
        grid-column: 1 / 3;

    }
    .bloque_header__botonera{
        all: unset;
        padding-top: 10px;
        grid-column: 3/ 4;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
            
        }
        a{
            opacity: 1;
        }
    }

    #bloque_contenedor{
        h1{
            font-size: 3rem;
        }
    }
    .bloque_contenedor__productos{
        width: 80%;
    }
}

@media screen and (min-width: 1020px){
    #contenedor-detalle{
        flex-direction: row;
        flex-wrap: wrap;
        img{
            width: 50%;
        }
    }
    #bloque_scroll{
        p{
            position: absolute; 
            color: $fontColor;
            font-size: 5rem;
            top: 30rem;
            padding-left: 2.5rem;
            background-color: rgba(0, 0, 0, 0);
           
        }
    }
}

@media screen and (min-width: 1800px) {
    #bloque_scroll{
        img{
            height: 100%;
        }
    }
}